.navbar{
    height:72px;
    width:100%;

    background:#ffffff;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:0 35px;

    border-bottom:1px solid #E5E7EB;

    position:sticky;
    top:0;
    z-index:100;
}

/* LEFT */

.navbar-left{
    display:flex;
    align-items:center;
}

.menu-btn{

    width:48px;
    height:48px;

    border:none;

    background:#F3F4F6;

    border-radius:14px;

    display:flex;
    justify-content:center;
    align-items:center;

    cursor:pointer;

    transition:.3s;
}

.menu-btn:hover{

    background:#2563EB;
    color:white;

}

/* RIGHT */

.navbar-right{

    display:flex;

    align-items:center;

    gap:26px;

}

/* Notification */

.notification-btn{

    width:44px;

    height:44px;

    border:none;

    background:#F9FAFB;

    border-radius:50%;

    display:flex;

    justify-content:center;

    align-items:center;

    position:relative;

    cursor:pointer;

    transition:.3s;

}

.notification-btn:hover{

    background:#EEF2FF;

}

.notification-dot{

    position:absolute;

    width:10px;

    height:10px;

    background:#EF4444;

    border-radius:50%;

    top:9px;

    right:9px;

}

/* Profile */

.profile{

    display:flex;

    align-items:center;

    gap:12px;

    cursor:pointer;

}

.avatar{

    width:44px;

    height:44px;

    border-radius:50%;

    background:#8B5CF6;

    color:white;

    display:flex;

    justify-content:center;

    align-items:center;

    font-weight:700;

    font-size:16px;

}

.profile-name{

    font-size:17px;

    font-weight:600;

    color:#111827;

    white-space:nowrap;

}

.profile svg{

    color:#6B7280;

}

/* Responsive */

@media(max-width:768px){

    .navbar{

        padding:0 18px;

    }

    .profile-name{

        display:none;

    }

}